<!-- Navbar Start -->
<div class="container-fluid sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a href="/home" class="navbar-brand">
                <h2 class="text-white">VetCore</h2>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="appointment" class="nav-item nav-link">Programar Citas</a>
                    <a href="product.html" class="nav-item nav-link">Acerca de</a>
                    <a href="contact.html" class="nav-item nav-link">Contacto</a>
                    <a (click)="logOut()" class="nav-item nav-link">Bye</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
