<div class="login-page">
    <div class="form">
        <form class="loin-form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <div class="logo-container">
                <img src="assets\img\Logo.png" alt="Logo">
            </div>
            <h3>Register</h3>
            <br>
            <label>Name</label>
            <input type="text" class="asd" formControlName="name"/>
            <label>Last Name</label>
            <input type="text" class="asd" formControlName="lastName"/>
            <label>Email</label>
            <input type="email" class="asd" formControlName="email"/>
            <label>Password</label>
            <input type="password" class="asd" formControlName="password"/>
            <button  class="mainbox" (click)="navigateToLogin()">Register</button>
            <p class="message">do you already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>
